.actorList {
  display: grid;
  max-width: calc(100vw);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;

  margin-top: 20px;
}
.actorBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actorImg {
  height: 300px;
}

.actorName {
  font-size: 18px;
  text-align: center;
}
