.movieList {
  display: grid;
  max-width: calc(100vw - 54px);
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.listImg {
  margin-bottom: 20px;
  height: 85%;
}

.movieListTitle {
  text-align: center;
  color: #3a9ac0;
  text-shadow: 1px 1px 1px #43456d;
}
